body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.About-navbar {
    background-color: #02011C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0%;
}

.About-nav-logo img {
    width: 30%;
    filter: invert(100%);
}

.About-nav-items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    justify-items: center;
    text-decoration: none;
}

.About-nav-items li {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: max-content;
    padding: 15px;
}

.About-nav-items a {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    padding: 4% 15%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 75, 47);
    font-size: 25px;
}

/* Parallax effect */

.About-parallax-wrapper{
    width:100%;
    height:100vh;
    perspective:1px;
    perspective-origin: center center;
    overflow-x:hidden;
    margin: -4px;
    padding: 0;
}

.About-parallax{
    transform-style: preserve-3d;
    height:100%;   
}


.About-parallax-layer{
    background-position: bottom center;
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

/* Scale calculation: 1 + ((Z transform value * -1) / perspective) */

#About-layer-1{
    background-image: url("/Images/3D\ Parallax\ Effect/Ice\ Cave/3rd\ Layer/3rd\ layer.png");
    transform: translateZ(-1.3px) scale(2.3);

}

#About-layer-2{
    background-image: url("/Images/3D\ Parallax\ Effect/Ice\ Cave/2nd\ Layer/no\ spikes\ no\ bg.png");
    transform: translateZ(-0.4px) scale(1.4);

}

#About-layer-3{
    background-image: url("/Images/3D\ Parallax\ Effect/Ice\ Cave/1st\ Layer/spikes\ +\ glow.png");
    transform:translate3d(0.38px) scale(0.65);

}