body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

.About-navbar {
    background-color: #0F0C38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0%;
  }
  
  .About-nav-logo img {
    width: 30%;
    height: auto;
    margin: 0 0 auto 0; 
    filter: invert(100%);
  }
  
  .About-nav-items {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0;
  }
  
  .About-nav-items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    justify-items: center;
    text-decoration: none;
  }
  
  .About-nav-items li {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: max-content;
    padding: 15px;
  }
  
  .About-nav-items a {
    text-align: center;
    width: 100%;
    padding: 4% 15%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 75, 47);
    font-size: 25px;
  }

/* Parallax effect */

.Parallax-wrapper{
    /* background-color: black; */
    height: 100vh;
    perspective: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.Parallax-content-container{
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.Parallax-group{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    margin-top: -100vh;
}

.Parallax-layer{
    position: absolute;
    object-fit: cover;
}

.Left-filler{
    background-color: rgb(193, 170, 231);
    width: 45%;
}

.Content{
    background-color: rgb(153, 177, 199);
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.Random-text{
    font-size: large;
}

.White-space{
    margin-bottom: 300vh;
}

/* First block */

.Pigeon{
    width: 15%;
    transform: translate3d(-9vw,-8vh,230px) scale(0.15);
}

.Campfire{
    width: 10%;
    transform: translate3d(-13vw,6vh,175px) scale(0.30);
}

.Caveman{
    width: 30%;
    transform: translate3d(-8vw,3vh,174px) scale(0.30);
}

/* Second block */

.Guyondesk{
    width: 30%;
    transform: translate3d(-12vw,0vh,160px) scale(0.8);
}

.Letter1{
    width: 15%;
    transform: translate3d(-1.6vw,3vh,250px) scale(0.08);
}

.Letter2{
    width: 15%;
    transform: translate3d(-4vw,-8vh,230px) scale(0.15);
}

.Letter3{
    width: 15%;
    transform: translate3d(-10vw,5vh,210px) scale(0.18);
}

.Letter4{
    width: 15%;
    transform: translate3d(-20vw,-3vh,140px) scale(0.35);
}

/* Third block */

.Graph-pic{
    width: 15%;
    transform: translate3d(-4vw,0vh,200px) scale(0.3);
}

.Ads{
    width: 37%;
    transform: translate3d(-14vw,-6vh,120px) scale(0.9);
}

.STONKS{
    width: 15%;
    transform: translate3d(-10vw,0vh,200px) scale(0.35);
}

/* Fourth block */

.Brush{
    width: 24%;
    transform: translate3d(-9vw,-4vh,220px) scale(0.2);
}

.Ai-art{
    width: 37%;
    transform: translate3d(-15vw,0vh,120px) scale(0.9);
}

/* Fifth block */

.Brain-connections{
    width: 37%;
    transform: translate3d(-12vw,-5vh,180px) scale(0.4);
}

.Brainchip{
    width: 37%;
    transform: translate3d(-5vw,5vh,210px) scale(0.2);
}

/* REDACTED */

.Access-denied{
    width: 37%;
    transform: translate3d(-10.4vw,-4vh,180px) scale(0.5);
}

.ERROR{
    width: 37%;
    transform: translate3d(-5vw,-4.8vh,240px) scale(0.19);
}