body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Examples-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0%;
}

.Examples-nav-logo img {
    width: 30%;
    height: auto;
}

.Examples-nav-items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    justify-items: center;
    text-decoration: none;
}

.Examples-nav-items li {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: max-content;
    padding: 15px;
}

.Examples-nav-items a {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    padding: 4% 15%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 75, 47);
    font-size: 25px;
}

/* Examples*/


/* .parallax-background-example img {
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: contain;
} */

.Examples-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Examples-parallax {
    position: absolute;
    height: 100vh;
    width: 100vw;

}

.Examples-backgraound-GPT {
    background-image: url('Images/chatgpt-background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;

    /* align-items: center; */
}