body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden
}

.Examples-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 4%;
}

.Examples-nav-logo img {
    width: 30%;
    height: auto;
    filter: invert(1);
}

.Examples-nav-items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    justify-items: center;
    text-decoration: none;
}

.Examples-nav-items li {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    width: max-content;
    padding: 15px;
}

.Examples-nav-items a {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    padding: 4% 15%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 75, 47);
    font-size: 25px;
}

/* @media (max-width:700px) {

} */

/* Examples*/

.Examples-parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.Examples-robot-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.Examples-layers {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Examples-background-1 {
    transform: translateZ(-2px) scale(3.5);
}

.Examples-arms {
    transform: translateZ(-1.5px) scale(2.5);
}


.Examples-littleman {
    transform: translateZ(-1px) scale(2);
    position: relative;
    right: 35%;


}

.Examples-littlewoman {
    transform: translateZ(-1px) scale(2.5);
    position: relative;
    left: 35%;
}

.Examples-layers-text {
    color: rgb(244, 233, 233);
    transform: translateZ(-0.5px) scale(4);
    position: relative;
    top: 28%;
    right: 12%;

}

@media (max-width:700px) {
    .Examples-nav-items ul {
        flex-direction: column;
        align-items: center;
    }

    .Examples-nav-logo img {
        width: 50%;
    }

    .Examples-nav-items li {
        margin: 10px 0;
        font-size: small;
        padding: 0px;
        margin: 1px;
    }

    .Examples-arms {
        transform: translateZ(-1.5px) scale(1);

    }

    .Examples-layers {
        position: absolute;
        height: 100%;
        width: 250%;
        object-fit: cover;
    }

    .Examples-littleman {
        transform: translateZ(-1px) scale(0.7);
        position: relative;
        right: 20%;


    }

    .Examples-littlewoman {
        transform: translateZ(-1px) scale(1);
        position: relative;
        left: 35%;
    }

    .Examples-layers-text {
        color: rgb(244, 233, 233);
        transform: translateZ(-0.5px) scale(1.5);
        position: relative;
        top: 3%;
        right: 29%;

    }
}


.Examples--container {
    position: absolute;
    height: 100vh;
    width: 100vw;

}



.Examples-backgraound-GPT {
    background-image: url('Images/chatgpt-background.jpg');
    height: 100vh;
    width: 120vw;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    transform: translateZ(-10px);
    background-position: center;
}

.Examples-h1 {
    margin: 0 auto;
    width: 90%;
    font-size: 130px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 1px;
    color: white;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 5px 2px rgb(159, 149, 51);
    /* word-spacing: 10vw; */
}

.Examples-p1 {
    margin: 0 auto;
    width: 80%;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.3;
    color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 3px 3px rgb(136, 45, 45);
}

.Examples-gpt-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* 
.Examples-logo-gtp {
    position: absolute;
    margin: 0 auto;
    width: 40%;
    top: -100vh;
    left: 50%;
    transform: scale(0.1);

} */