body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0%;
}

.nav-logo img {
    width: 30%;
    height: auto;
}

.nav-items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    justify-items: center;
    text-decoration: none;
}

.nav-items li {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: max-content;
    padding: 15px;
}

.nav-items a {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    padding: 4% 15%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 75, 47);
    font-size: 25px;
}

/* Examples*/


/* .parallax-background-example img {
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: contain;
} */
.container-examples {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.parallax-examples {
    position: relative;
    height: 100vh;
    width: 100vw;

}

.background-GPT-examples {
    background-image: url('Images/chatgpt-background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
}

h1 {
    margin: 0 auto;
    width: 90%;
    font-size: 130px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 1px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: ;
    /* word-spacing: 10vw; */
}

.examples-paragrph-1 {
    position: absolute;
}